.main {
	margin-top: 64px;
	height: calc(100vh - 64px);
	overflow: hidden;
	flex: 1;
}

.footerContainer {
	height: 30px;
	background: #e8e8e8;
	position: fixed;
	margin-top: 0px;
	width: 100%;
	bottom: 0;
}
