$bg-primary: #eff0f1;
$primary-color: #2e3092;
$secondary-color: #50b848;

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bg-primary;
}

body,
.main,
main {
	background-color: $bg-primary;
}

.AppBar {
	background: $primary-color;
	background-color: $primary-color;
}
